@import "../css/typography.css";

body {
    background-image: url("./../images/joe-woods-4Zaq5xY5M_c-unsplash.jpg");
    background-attachment: fixed;
    background-color: #cccccc;
    background-size: 100%;
    font-family: "JetBrainsMono-Regular";
   }

.container {
    margin: auto;
    max-width: 800px;
    font-family: "JetBrainsMono-Regular";
  }

button {
    height: 180px;
    width: 180px;
    margin: 10px;
    transition-duration: 0.5s;
    background-color: #404040;
    opacity: 0.6;
    font-family: "JetBrainsMono-Bold";
    font-size: 100px;
    color: rgba(0,0,0,0);
    border: none;
    outline:none;
}



button:hover {
    
    background-color: #404040; /* Green */
    color: white;
    opacity: 1;
    
}

.lukeButton {
    background-image: url("./../images/download.jpg");
    background-size: 100%;
}